<div>
	<div class="row">
    <div class="small-2 large-4 large-offset-4 columns">
      <h3>Task</h3>
    </div>
    <div class="small-2 large-4 columns">
      <a class="button success" ng-href="#/editTasks/{{id}}">Edit Task</a>
    </div>
  </div>
  <div class="row">
  	<div class="large-4 columns">{{name}}</div>
  	<div class="large-6 columns">
  		<div class="row">
  			<div class="large-12 columns">Deadline: {{deadline}}</div>
  		</div>
  		<div class="row">
  			<div class="large-12 columns">Completed: {{completed}}</div>
  		</div>
  	</div>
  </div>
  <div class="row">
  	<div class="large-10 columns">Assigned to: {{assignedUserName}}</div>
  </div>
</div>