<div>

  <div class="row userTitle_and_addButton">
    <div class="small-2 large-4 large-offset-4 columns">
      <h3>Users</h3>
    </div>
    <div class="small-2 large-4 columns">
      <a class="button success" ng-href="#/addUser">Add User</a>
    </div>
  </div>
  
  <div class="row userList" ng-repeat="person in users">
    <div class="small-2 large-4 columns"><a ng-href='#/users/{{person._id}}'>{{person.name}}</a></div>
    <div class="small-2 large-4 columns">{{person.email}}</div>
    <div class="small-2 large-4 columns">
      <a class="button alert" ng-click="deleteUser(person._id)">Delete</a>
    </div>
  </div>

</div>